<h1> Home </h1>
<p>This is the {{ title }} page</p>
{{#if isAvailable}}
<ul>
    {{#each rooms}}
        <li> {{this.name}} <a href={{this.name}}>Room</a></li>
    {{/each}}
</ul>
{{/if}}

<form action="/create" method="POST">
    <input type="text" name="roomName" placeholder="please enter room name">
    <input type="submit" value="create room">
</form>